
.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
:root {
    --primary-clr: #1C273B;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Pixelify Sans", sans-serif;
}
body {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141C2B;
}
.container {
position: relative;
width: 1200px;
min-height: 850px;
margin: 0 auto;
padding: 5px;
color: whit;
display: flex;
border-radius: 10px;
background-color: #2A3D5E;
}
.left {
width: 60%;
padding: 20px;
}
.calendar {
position: relative;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}
