<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="calendar.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <title>Calendar</title>
</head>
<body>
<div class="container">
    <div class="left">
        <div class="calendar">
            <div class="month">
                <i class='bx  bx-arrow-left-stroke'></i>
                <div class="date">december 2025</div>
                <i class='bx  bx-arrow-right-stroke'></i>
            </div>
        </div>
    </div>
    <script scr="calendar.js"></script>
</body>
</html>