
.pixelify-sans-<uniquifier> {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
:root {
    --primary-clr: #1C273B;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Pixelify Sans", sans-serif;
}
body {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141C2B;
}
.container {
position: relative;
width: 1200px;
min-height: 850px;
margin: 0 auto;
padding: 5px;
color: whit;
display: flex;
border-radius: 10px;
background-color: #2A3D5E;
}
.left {
width: 60%;
padding: 20px;
}
.calendar {
position: relative;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
color: #2A3D5E;
border-radius: 5px;
background-color: white;
}
.calendar::before, .calendar::after {
content: "";
position: absolute;
top: 50%;
left: 100%;
width: 12px;
height: 97%;
border-radius: 0 5px 5px 0;
}
.calendar::before {
height: 94%;
left: calc(100% +12px);
background-color: ##2A3D5E;
}
.calendar .month {
width: 100%;
height: 15px;
display: flex;
justify-content: space-between;
padding: 0 50px;
font-size: 1.2rem;

}
