
 nav {
    height: 100px;
    background: #33466E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px)/2);
    border-bottom: 4px solid #2A3D5E;
    }
    .logo {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 2rem;
    }
    nav a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 1.5rem;
    }
    .nav-item {
    font-size: 1.5rem;
    padding: 0 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    }
body {
    margin: 0;
    background-color: #33466E;
    font-family: Ariel, sans-serif;
    color: #fff;
}


.hero {
    background: url("https://thumbs.dreamstime.com/b/retro-pixel-art-landscape-retro-pixel-art-landscape-nostalgic-bit-game-interface-throwback-to-classic-gaming-nostalgic-401612632.jpg") center/cover no-repeat;
    padding: 80px 20px;
}

.hero-content {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.hero h1 {
    font-size: 38px;
    margin-bottom: 10px;
    font-family: "Pixelify Sans", sans-serif;
}

.hero p {
    font-size: 16px;
    opacity: 0.9;
}

/* SECTIONS */
.course-section {
    margin-top: 40px;
}

.section-title {
    font-size: 22px;
    margin: 20px 0 10px 20px;
    font-family: "Pixelify Sans", sans-serif;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 24px;
    padding: 0 20px 40px 20px;
}

.course-card {
    background-color: #131822;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}

.course-card:hover {
    transform: translateY(-4px);
    color: #B5C3D4;

}

.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    background: transparent;
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    margin: 8px 0;
}

.course-tag {
    background-color: #2d81f7;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 6px;
}


