
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans", sans-serif;
}
nav {
    height: 100px;
    background: #33466E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 max(2rem, calc((100vw - 1300px) / 2));
    border-bottom: 4px solid #23314C;
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;
}
p{
display: flex;
align-items: center;
text-align: center;}
.logo {
    color: #FFFCFA;
    font-size: 2rem;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: #FFFCFA;
}
.nav-item {
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem;
}
.hero {
    background: #33466E;
    padding: 4rem 0;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #;
    padding-top: 100px;
}
.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFCFA;
}
.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #CBD5E1;
}
button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #FFFCFA;
    background: #2A3D5E;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    ;
}
.learn-more {
letter-spacing: 2px;
}
button:hover {
    background: #23314C;
    color: #FFFCFA;
}
.explore-course, .why, .practice, .collaborate, .join {
    background: #020617;
    padding: 8rem 0;
    align-items: center;
}
.course-container, .reason-container, .practice-container, .collaborate-container, .join-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.hero-container, .course-container, .reason-container, .practice-container, .collaborate-container, .join-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}
.course-title {
    text-align: center;
}
.course-title h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #FFFCFA;
}
.course-descript {
    font-size: 1.2rem;
    color: #CBD5E1;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.class-tags {
    background-color: #23314C;
    color: #FFFCFA;
}
.class-tags:hover {
    background-color: #1C273B;
    color: #FFFCFA;
}
.reason-container {
    gap: 4rem;
}
.reason-title {
    font-size: 2.5rem;
    text-align: center;
    color: #FFFCFA;
}
.reason-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.r1, .r2, .r3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFCFA;
    max-width: 300px;
}
.r1-container, .r2-container, .r3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.h3d h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.h4d {
    font-family: "Pixelify Sans", sans-serif;
    color: #CBD5E1;
}
.skill-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #FFFCFA;
    text-align: center;
}
.skill {
    font-size: 1.2rem;
    color: #CBD5E1;
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.join-container h2 {
    font-size: 2.5rem;
    color: #FFFCFA;
}
.button-sign {
    margin-top: 2rem;
}
.btn-signup {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #FFFCFA;
    background: #23314C;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    letter-spacing: 2px;
}
.btn-signup:hover {
    background: #1C273B;
    color: #FFFCFA;
}

@media screen and (max-width: 850px) {
    .hero-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .column-left {
        align-items: center;
    }
    .reason-list {
        flex-direction: column;
        gap: 4rem;
        align-items: center;
    }
}
