<!DOCTYPE html>
<html lang="en"></html>
<html>
<header>
        <meta charset="UTF-8">

    <link rel="stylesheet" href="styles/homepage.css">
</header>
<body>

<div class="sidebar">
    <h1>Numbl</h1>
    <div class="sidebar-button">
        <button class="Resource-button-link">
            <a
                    href="Resources.html">
                Resources
            </a>
        </button>
    </div>
    <div class="sidebar-button">
        <button class="Contact-button-link">
            <a href="ContactUs.html">
                Contact us
            </a>
        </button>
    </div>
    <div class="sidebar-button">
        <button class="Leader-button-link">
            <a href="Leaderboard.html">
                Leaderboard
            </a>
        </button>
    </div>
</div>
<div class="middlebar">
    <div class="sea-pic">
        <img class="seapic-img" src="pic/image.png">
    <div class="middlebar-button">
        </div>
        <div class="sidebox">
            <div class="sidebar-icon">
                <div class="penguin">
                    <img src="pic/images.jpg" style="border-radius: 50%;">
                </div>
                <div class="tiny">
                    <img src="pic/little-penguin.jpg" style="border-radius: 50%;">
                </div>
                <div class="fire">
                    <img src="pic/ba95e6081679d9d7e8c132da5cfce1ec.svg">
                </div>
                <div class="heart">
                    <img src="pic/8fdba477c56a8eeb23f0f7e67fdec6d9.svg">
                </div>
            </div>
            <div class="leaderboard-update">
                leaderboard
            </div>
            <div class="daily-quest"></div>
        </div>
    </div>
</div>


</body>
</html>

