<!DOCTYPE html>
<html lang="en"></html>
<html>
<header>
        <meta charset="UTF-8">

    <link rel="stylesheet" href="styles/homepage.css">
</header>
<body>

<div class="sidebar">
    <h1>Numbl</h1>
    <div class="sidebar-button">
        <button class="Resource-button-link">
            <a
                    href="Resources.html">
                Resources
            </a>
        </button>
    </div>
    <div class="sidebar-button">
        <button class="Contact-button-link">
            <a href="ContactUs.html">
                Contact us
            </a>
        </button>
    </div>
    <div class="sidebar-button">
        <button class="Leader-button-link">
            <a href="Leaderboard.html">
                Leaderboard
            </a>
        </button>
    </div>
</div>
<div class="middlebar">
    <div class="middlebar-button">
        <div>
            <div>
                <div>
                    <div>d1</div>
                    <div>d2</div>
                    <div>d3</div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>

