@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');
* {
padding: 0;
margin: 0;
font-family: "Pixelify Sans";
box-sizing: border-box;
}
nav {
    height: 100px;
    background: #33466E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 max(2rem, calc((100vw - 1300px) / 2));
    border-bottom: 4px solid #23314C;
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;
}
p{
display: flex;
align-items: center;
text-align: center;}
.logo {
    color: #FFFCFA;
    font-size: 2rem;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: #FFFCFA;
}
.nav-item {
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem;
}
.about {
width: 100%;
padding: 78px 0px;
background-color: #23314C;
}
.about img {
height: auto;
width: 420px;
}
.about-text {
width: 550px;
}
.main {
width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
}
span {
color: #254861;
font-size: 30px;
margin-left: 2px;
margin-right: 2px;
}
.about-text h1 {
color: #FFFCFA;
font-size: 80px;
text-transform: captialize;
margin-bottom: 20px;
display: flex;
flex-direction: column;
align-items: center;
}
.about-text h5 {
color: #FFFCFA;
font-size: 25px;
text-transform: captialize;
margin-bottom: 25px;
letter-spacing: 2px;
margin-left: 80px;
display: flex;
flex-direction: row;
text-align: center;
}
.about-text p {
color: #FFFCFA;
letter-spacing: 1px;
line-height: 28px;
font-size: 10px;
margin-bottom: 45px;
}