
.unit {
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
    background: #1a2232;
    border: 2px solid #2c394f;
    transition: border-color 0.25s ease;
}
.unit.open {
    border-color: #4a6fa5;
}


.unit-toggle {
    width: 100%;
    background: #1f2a3d;
    padding: 16px;
    border: none;
    color: #e6ecf5;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    transition: background 0.25s ease;
}
.unit-toggle:hover {
    background: #26344c;
}


.arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #b9c4d6;
    transition: transform 0.3s ease;
}
.unit.open .arrow {
    transform: rotate(180deg);
}

/* dropdowm */
.unit-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 16px;
    background: #131822;
    transition:
            max-height 0.45s ease,
            opacity 0.35s ease;
}

.unit-content.open {
    padding: 16px;
    max-height: 300px;
    opacity: 1;
}

/* excercise buttons */
.exercise-btn {
    background: #2d81f7;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    transition: transform 0.15s ease;
}
.exercise-btn:hover {
    transform: translateY(-3px);
    background: #2466c4;
}

body {
    background: #0f1624;
    color: #ffffff;
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
    padding: 20px;
}
.course-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: "Pixelify Sans", sans-serif;
}

.course-header p {
    font-size: 18px;
    opacity: 0.85;
    max-width: 700px;
}

.content-wrapper {
    max-width: 900px;
    margin: auto;
}
nav {
    height: 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 max(2rem, calc((100vw - 1300px) / 2));
    border-bottom: 4px solid #23314C;
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;
}