.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 0;
    font-family: "Jersey 10", sans-serif;

}
    nav {
    height: 100px;
    background: #5BA0B3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw-1300px)/2);
    border-bottom: 4px solid #427E8F;
    }
    .logo {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 2rem;
    }
    nav a{
    text-decoration: none;
    color: #FFFFFF;
    background:
    padding: 0 1.5rem;
    }
    .nav-item {
    font-size: 1.5rem;
    padding: 0 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    }
    .hero {
    background: #5BA0B3;
    }
    hero-container {
    display: grid:
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 0rem calc((100vw-1300px)/2);
    }
    .column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 15rem 2rem;
    }
    .column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    }
    .column-left p {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 1.5;
    }
    button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color: #70ACBD;
    background: white;
    cursor: pointer;
    border-radius: 10px;
    }
    button:hover {
    background: #70ACBD;
    color: white;
    }
    .explore-course {
    background: #020617;
    padding: 4rem 2rem;
    height: 2000px;
    }
    .explore-container {
    background: #020617;
    display: block;
    box-sizing: border-box;
    padding: 2rem 2rem;
    }
    .course-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    min-height: 85px;
    row-gap: 36px;
    text-size-adjust: 100%;
    }
    h2 {
    color: #FFFFFF;
    text-align: center;
    letter-spacing: .75px;
    font-size: 25px;
    font-weight: 500;
    }
    .course-descript {
    color: #CBD5E1;
    font-family: sans-serif;
    }
    .course-explore {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    
    }

    @media screen and (max-width: 850px) {
    .hero-container {
    grid-template-columns: 1fr;
    }
    }

