<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbl</title>
    <link rel="stylesheet" href="Discovery.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo">Numbl</div>
        <div class="nav-item">
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/">Contact</a>
        </div>
    </nav>
<section class="hero">
    <div class="hero-container"></div>
    <div class="column-left">
        <h1>Start Your Math Journey Today</h1>
        <p>The most connective way to learn math</p>
        <button>Get Started</button>
    </div>
</section>
<section class="explore-course">
    <div class="course-container">
    <div class="course-title">
        <h2>
            <p>Venture through the world of math</p>
        </h2>
        <p class="course-descript"> Learn different branches of math through course proressions</p>
    </div>
    <div class="course-explore">

    </div>
    </div>
</section>
</body>

</html>